@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

:root {
  --blue-xdc: #007eff;
  --black-xdc: #131313;
  --white-xdc: #ffffff;
  --gray-xdc: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: var(--black-xdc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    width: auto;
    height: 1080px;
    justify-content: center;
    align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: var(--gray-xdc);
  font-size: 2rem;
  line-height: 2rem;
  cursor: default;
}

#alert span {
  color: var(--blue-xdc);
}

h1 {
    color: var(--white-xdc);
    font-size: 9rem;
    cursor: default;
}

h1 > span {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--white-xdc);
    color: transparent; 
  }

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
}
  
.social:hover path {
    fill: var(--blue-xdc);
}
